@import './icons.scss';

// Dark Theme
@import './bootstrap-dark.scss';
@import './app-dark.scss';

// Light Theme
// @import './bootstrap.scss';
// @import './app.scss';

// RTL Mode
// @import "./rtl/bootstrap-rtl";
// @import "./rtl/components-rtl";
// @import "./rtl/float-rtl";
// @import "./rtl/general-rtl";
// @import "./rtl/pages-rtl";
// @import "./rtl/plugins-rtl";
// @import "./rtl/spacing-rtl";
// @import "./rtl/structure-rtl";
// @import "./rtl/text-rtl";

.react-bootstrap-table-page-btns-ul {
  margin-bottom: 0px;
}
.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg-dark) center /
    $btn-close-width auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;
  span {
    display: none;
  }
}
.rangeslider__fill {
  background-color: #556ee6 !important;
}
.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
}
.dz-message {
  text-align: center;
  margin: 2em 0;
}
//Crypto enteries
.bs-select select {
  width: auto !important;
}

.apexcharts-canvas {
  text {
    fill: #adbdb5 !important;
  }
}

.layout {
  width: 100%;
  color: white;
  p {
    border: 1px solid $success;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 0;
  }
  span {
    font-weight: 400;
    color: #ffffff;
  }
}

.master-tab {
  .uil-building {
    color: $success;
  }
}

.main-rest-tab {
  background: transparent;
  border: 2px solid $success;
  margin-left: 15px;
}

.flatpickr-weekdays,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
span.flatpickr-weekday {
  background: $success !important;
}

.date_picker {
  max-width: 300px;
  border: 1px solid $success;
  border-radius: 3px;
}
.calendar-block {
  i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: $success;
  }
}

.time {
  color: $success;
}
.weather {
  text-transform: capitalize;
}

.weather-img img {
  align-self: center;
  height: 200px;
  width: auto;
}
.city {
  font-weight: 300;
  text-transform: uppercase;
}
#radio-title {
  margin-bottom: 5px;
}

.search input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $success;
  color: aliceblue;
  width: 250px;
  &:focus {
    outline: none;
  }
}

.temp h1 {
  font-weight: 300;
  margin: 0 30px;
  background-color: rgba(133, 133, 133, 0.164);
  border-radius: 10px;
}
.icon {
  display: block;
}

.hot {
  color: $warning;
}

.cold {
  color: $primary;
}

@media screen and (max-width: 1393px) {
  .layout {
    p {
      font-size: 12px !important;
      padding: 5px 10px !important;
      span {
        font-size: 14px !important;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .layout {
    display: none !important;
  }
}
