@import '../../assets/scss/theme.scss';

.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: $gray-300;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.radio-toolbar input[type='radio']:checked + label {
  background-color: $primary;
  border: none;
  color: $white;
}

#radio-title {
  margin-bottom: 5px;
}

.search input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $success;
  color: aliceblue;
  width: 250px;
  &:focus {
    outline: none;
  }
}

.temp h1 {
  margin: 0 30px;
  color: white;
  background-color: rgba(133, 133, 133, 0.164);
  border-radius: 10px;
}
.icon {
  display: block;
}
